*{
    font-family: 'Courier New', Courier, sans-serif;
}

h1{
    font-size: 50px;
    text-align: center;
    color: darkred;
}

ul{
    background-color: darkred;
    list-style-position: inside;
    list-style-type: circle;
    padding: 20px;
}

ul li{
    background-color: rgb(182, 90, 90);
    padding: 5px;
}


/* The reason why this will overwrite the inline is because the image from lasagna.html.. etc was resized with the width and height attribute property inline not with style!!!  

<img height=100px...>
vs
<img style="height:100px">

*/

img{
    width: 800px;
    height: auto;
}